<p style="color: green"><%= notice %></p>

<p class="display-4 text-primary">
    <a href="/bands">Band</a> name:
    <%= @band.band_name %>
  </p>

  <p >
    <strong>Id:</strong>
    <%= @band.id %>
  </p>


<ul class="list-group">  
  <%if @band.person.count == 0 then%>
    <p class="person">※まだありません</p>
  <%else%>
    <%@band.person.reverse_each do |re| %>
    <li class="list-group-item">
     <p> <a href="/people/<%=re.id%>"><%= re.person_name%></a> <%= button_to "Destroy this person", re, method: :delete,class:"btn-primary"%></p>
      
  <% end %>
</ul>

<%end%>
<br>
<table><th><td>メンバーを追加する</td></th></table>
<%= form_with url: "/bands/member",method: :post do |form|%>
<div>
<%=form.text_area :name ,class:"form-control"%>
</div>
<%= form.hidden_field :band_id, value: @band.id%>
<div>
<%=form.submit%>
</div>
<%end%>
<br>

<div>
  <%= link_to "Edit this band", edit_band_path(@band) %> |
  <%= link_to "Back to bands", bands_path %>

  <%= button_to "Destroy this band", @band, method: :delete %>


</div>
<br>

